@font-face {
    font-family: 'go3v2';
    src: url('../fonts/go3v2.woff2') format('woff2'),
        url('../fonts/go3v2.woff') format('woff'),
        url('../fonts/go3v2.otf') format('opentype'),
        url('../fonts/go3v2.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

h1, h2 {
    font-family: 'go3v2';
    -webkit-text-stroke: #f4f4f4 0.25px;
    color: #000;
    text-align: center;
}

    h1 { 
        font-size: 4em;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 2.5em;
    }

.retour {
    margin-left: 10%;
    font-family: 'go3v2';
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    border: 2.5px solid #fff;
    border-radius: 5px;
    padding: 3px 5px;
}

/* ---- Cards ---- */

.listPerso {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.perso {
    border: solid 2px #fff;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    
    display: grid;
    grid-template-columns: 40% 1fr;
    margin-bottom: 15px;
    padding: 10px;
    color: #fff;

    height: 217px;
}

h3 {
    font-size: 1.5em;
}

.perso img {
    width: 100%;
}

.perso .text {
    height: 100%;
}

.button {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.button a, .button button{
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button a {
    border: solid 1px #be84d3;
    background-color: #8f55a2;
}

.button button {
    background-color: #b00606;
    border: solid 1px #d34141;
}

.button a:hover {
    background-color: #491c58;
    border: solid 1px #804596;
}

.mechants .button {
    position: relative;
    bottom: -15%;
}