h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 5px;
}

.fight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.perso {
    width: 50%;
}

img {
    width: 50%;
}

.barreVie {
    background-color: #ccc;
    height: 20px;
    margin-bottom: 10px;
    position: relative;
}

.vie {
height: 100%;
background-color: green;
}

.tour {
    border: 2px solid red; /
}