@font-face {
    font-family: 'go3v2';
    src: url('../fonts/go3v2.woff2') format('woff2'),
        url('../fonts/go3v2.woff') format('woff'),
        url('../fonts/go3v2.otf') format('opentype'),
        url('../fonts/go3v2.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    margin-top: 9%;
}

h1 { 
    font-family: 'go3v2';
    -webkit-text-stroke: #fff 0.25px;
    color: #000;
    font-size: 4em;
}


/* ---- Form ---- */
form {
    margin-bottom: 5%;
    height: 40vh;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

h2 {
    font-family: 'go3v2';
    -webkit-text-stroke: #fff 0.25px;
    color: #000;
    font-size: 4em;
}

select {
    font-family: 'go3v2';
    color: #fff;
    border: 2.5px solid #fff;
    border-radius: 7px;
    padding: 7px 25px;
    font-size: 1.3rem;
    background-color: #00000023;
    text-align: center;
    width: 20%;
}

input[type="submit"] {
    font-family: 'go3v2';
    color: #fff;

    background-color: #8f54b4;
    border: 2.5px solid #fff;
    border-radius: 7px;
    padding: 7px 25px;
    font-size: 1.7rem;
    cursor: pointer;
}


/* ---- Section "footer" ---- */
section {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 5%;
}
section a {
    font-family: 'go3v2';
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    border: 2.5px solid #fff;
    border-radius: 5px;
    padding: 3px 5px;
}