@font-face {
    font-family: 'go3v2';
    src: url('../fonts/go3v2.woff2') format('woff2'),
        url('../fonts/go3v2.woff') format('woff'),
        url('../fonts/go3v2.otf') format('opentype'),
        url('../fonts/go3v2.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/backgroundFight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


h1 {
    font-family: 'go3v2';
    -webkit-text-stroke: #f4f4f4 0.25px;
    color: #000;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 7px;
}

h1 span {
    font-size: 4rem;
    color: #692984;
}

.fight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.perso {
    width: 50%;
}

h2 {
    font-family: 'go3v2';
    -webkit-text-stroke: #f4f4f4 0.25px;
    color: #000;
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 8%;
}

.mechant h2, .mechant p {
    text-align: end;
}

p {
    font-family: 'go3v2';
    -webkit-text-stroke: #f4f4f4 1px;
    color: #000;
    font-size: 1.7rem;
    margin: 0;
}

img {
    width: 50vh;
    margin-top: 9%;
}

.mechant img, .mechant .border {
   float: right;
}

.barreVie {
    background-color: #ccc;
    height: 20px;
    position: relative;
    border-radius: 5px;
    border: 2.5px solid #000;
}

.border {
    border: #fff 1.5px solid;
    border-radius: 6px;
    width: 400px;
}

.vie {
    height: 100%;
    background-color: #43a181;
}

.tour {
    border: 1.5px solid red;
    border-radius: 6px;
}

#result {
    font-size: 1.4rem;
    text-align: center;
    -webkit-text-stroke: #f4f4f4 1px;
    color: #000;
}

/* ---- Boutons ---- */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;

}

.buttons input[type="submit"] {
    font-family: 'go3v2';
    font-size: 1.4rem;
    padding: 7px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #9354af;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}